{% load static %}

<!doctype html>
<html lang="ru">


<head>
    <meta charset="utf-8">
{#    <meta http-equiv="Refresh" content="2" />#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MAKET">
    <link rel="stylesheet" href="{% static 'portal/index.css' %}">
    <title>MAKET</title>
    <link href="{% static 'portal/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <header class="">
        {% include "portal/parts/header.html" %}
    </header>

    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="">
        {% include "portal/parts/footer.html" %}
    </footer>


    <script type="text/javascript" src="{% static 'portal/func.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>