{% extends 'portal/mainLayaut.html' %}


{% block content %}
    <main class="">
        <div class="d-flex justify-content-between align-items-center pb-3">
            <h3>Добавление модели</h3>
            <input type="button" class="btn btn-secondary" value="Назад" onclick="goBack()">
        </div>

        <form action="{% url 'dataset_add' %}" method="post" class="form">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Название</label>
                <input value={{ shortName }} type="text" class="form-control bg-dark-subtle" name="shortName"
                       aria-describedby="emailHelp" readonly>
                <div class="form-text">Будет использовано для идентификации в интерфейсе пользователя</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Название папки с датасетом в файловой системе</label>
                <input value={{ dir_name }} type="text" class="form-control bg-dark-subtle" name="dirName"
                       aria-describedby="emailHelp"
                       readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Комментарии</label>
                <input value={{ comments }} type="text" class="form-control bg-dark-subtle" name="comments"
                       aria-describedby="emailHelp" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Количество изображений</label>
                <input value={{ size }} type="text" class="form-control bg-dark-subtle" name="size"
                       aria-describedby="emailHelp"
                       readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Количество классов</label>
                <input value={{ class_nums }} type="text" class="form-control bg-dark-subtle" name="classNums"
                       aria-describedby="emailHelp" readonly>
            </div>

            {% if class_names %}
                Имена классов:
                {% for class_name in class_names %}
                    <ul>
                        <li>
                            {{ class_name }}
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}

            {% if error_msg %}
                <div class="alert alert-danger" role="alert">
                    Error: {{ error_msg }}
                </div>
            {% else %}
                <input type="submit" class="btn btn-primary" value="Далее">
            {% endif %}

        </form>

    </main>
{% endblock content %}

