{% extends 'portal/mainLayaut.html' %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center pb-3">
        <h3>Модели</h3>
        <a class="btn btn-success text-decoration-none" href="{% url 'model_add' %}"
           role="button">Добавить</a>
    </div>


    <main class="">
        <ol class="list-group list-group-numbered w-75">

            {% for model in models %}

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <a href="{% url 'model_detail' model.pk %}">{{ model.shortName }}</a></div>
                        {{ model.comments }}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{ model.input_size_x }}</span>
                    <span class="badge bg-primary rounded-pill">{{ model.input_size_y }}</span>
                    <span class="badge bg-info rounded-pill ms-1 ">{{ model.input_size_ch }}</span>

                    <span class="badge bg-secondary rounded-pill ms-4">{{ model.min }}</span>
                    <span class="badge bg-secondary rounded-pill ms-1">{{ model.max }}</span>
                </li>

            {% endfor %}

        </ol>
    </main>


{% endblock content %}



